<app-profile-detail (profileLoaded)="getUserPosts($event)"></app-profile-detail>

<div class="user-posts" [@listAnimation]="posts.length">
  <mat-card *ngFor="let post of posts"
            (click)="navigateToDetails(post.id)"
            (mouseenter) ="userPostsMouseEnter($event)"
            (mouseleave) ="userPostsMouseLeave($event)" >
    <img mat-card-image src="{{post.front_image_url}}" />
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-content>
      <p>{{post.short_text}}</p>
      <small>{{post?.created_at|date:'mediumDate'}}</small>
    </mat-card-content>
  </mat-card>
</div>
