%html
  %head
    %link{rel: "stylesheet",
          href: "https://unpkg.com/leaflet@1.2.0/dist/leaflet.css",
          integrity: "sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==",
          crossorigin: true}
    %link{rel: "stylesheet", href: "css/app.css"}

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{src: "https://unpkg.com/leaflet@1.2.0/dist/leaflet.js",
            integrity: "sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==",
            crossorigin: true}
    %script{src: "js/app.js"}
  %body
    %header
      %h2 header
    %section
      .map{id: "mapid"}
    %footer
      %h2 footer
