html, body {
  height: 100%;
}

main {
  height: 90%;
}

header {
  height: 10%;
  border-bottom: 1px solid #e1e1e8;
}

small {
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

header section.logo {
  border-right: 1px solid #e1e1e8;
}

header section.logo h3 {
  color: lightblue;
}

header section.user {
  border-left: 1px solid #e1e1e8;
}

ul, li {
  padding: 0px;
  margin: 0px
}

.content {
  height: 100%;
  position: relative;
}

.row {
  margin: 0px;
}

.journey-list #map {
  height: inherit;
}

#list {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25%;
  height: 90%;
  padding: 10px;
  background-color: rgba(247, 247, 249,.5);
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.journey-list-item {
  padding: 3px;
  margin: 5px;
  list-style: none;
  border: 1px solid #e1e1e8;
  background-color: rgba(247, 247, 249,1);
  border-radius: 4px;
}

.budget {
  color: green;
}

.journey-detail #map {
  height: 400px;
  float: right;
  padding: 0px;
}

.journey-detail .info {
  padding: 15px;
}

.journey-detail  .milestone-list {
  border-top: 1px dashed #e1e1e8;
  margin: 15px;
  padding-top: 15px
}

.journey-detail  .milestone-list .milestone  {
  cursor: pointer;
}

.journey-detail .milestone-detail {
  border-top: 1px solid #e1e1e8;
  padding: 15px;
}

.geo-milestone {
  border-radius: 50%;
  border: 1px solid #e1e1e8;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  color: grey;
}

.selected, .selected a {
  color: red;
  border-color: red;
}
