<div class="content journey-detail">
  <div class="row">
    <div class="col-8">
      <div class="info">
        <h4>{{$ctrl.journey.title}}</h4>
        <h5><i><span class="budget">Budget: {{$ctrl.journey.budget}}$</span> for {{$ctrl.journey.duration}} days</i></h4>
        <div ng-bind-html="$ctrl.journey.description"></div>
        <small>Posted: {{$ctrl.journey.updated_at | date:'medium'}} by <b>{{$ctrl.author.name}}</b></small>
      </div>
      <div class="milestone-list">
        <div ng-repeat="milestone in $ctrl.milestones">
          <div ng-click="$ctrl.setSelectedMilestone(milestone.properties.id)"
               class="milestone milestone-{{milestone.properties.position}}">
            {{milestone.properties.position}}. {{milestone.properties.name}} for {{milestone.properties.duration}} days
          </div>
        </div>
      </div>
    </div>
    <div id="map" class="col-4"></div>
  </div>
  <div class="row milestone-detail">
    <div class="col-12">
      <h2>{{$ctrl.selected_milestone.name}}</h2>
      <div>{{$ctrl.selected_milestone.description}}</div>
    </div>
  </div>
</div>
