@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-cyan, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-pink, 600);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@mixin linear-gradient($direction, $color-stops) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin link($link, $visited, $hover, $active) {
    & {
        color: $link;
        text-decoration: none;

        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}

a {
  @include link(
    mat-color($primary),
    mat-color($primary, 300),
    mat-color($primary),
    mat-color($primary)
  );
}

small {
  font-size: 12px !important;
  font-style: italic;
}

.mat-card {
  .mat-card-avatar {
    width: 80px;
    height: 80px;
    border-color: mat-color($accent);
  }

  .mat-card-header {
    float: left;
  }

  .mat-card-actions {
    float: right;
    margin: -16px 0px 0px 0px;
  }

  .mat-card-actions img {
    width: 50px;
    height: 50px;
  }

  .mat-card-title {
    font-size: 15px;
    font-weight: bold;
  }
}

.mat-list {
  .mat-list-item a.mat-line {
    font-size: 18px;
  }

  .mat-list-item p.mat-line {
    padding: 5px 0px 5px 0px;
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
  }
}

.clear {
  clear: both;
}

.profile {
  @include linear-gradient(mat-color($accent, 500), mat-color($accent, 50));
}
